@import "reset.css";
@import "screen/login.css";

@font-face {
  font-family: "BinggraeMelona";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BinggraeMelona.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  max-width: 580px;
  font-family: "BinggraeMelona";
}

.flap-logo-text {
  display: flex;
  height: calc(var(--vh, 1vh) * 100);
  justify-content: center;
  align-items: center;
}
