@import "reset.css";
@import "variables.css";

/* components */

/* screen */
@import "screen/loading.css";
@import "screen/login.css";
@import "screen/member_info_name.css";
@import "screen/member_info_profile.css";
@import "screen/member_info_sex_age.css";

@font-face {
  font-family: "BinggraeMelona";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BinggraeMelona.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "BinggraeMelona";
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
