@import "reset.css";
@import "variables.css";

/* components */
@import "components/mamber_info_bar.css";

/* screen */
@import "screen/loading.css";
@import "screen/login.css";
@import "screen/member_info_name.css";

@font-face {
  font-family: "BinggraeMelona";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BinggraeMelona.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "BinggraeMelona";
  height: calc(var(--vh, 1vh) * 100);
  box-sizing: border-box;
}
