:root {
  --primary-gray: #c4c4c4;
  --primary-black: #000;
  --button-inactive-light-blue: rgba(20, 142, 191, 0.48);
  --primary-white: #fff;
  --primary-light-blue: #148ebf;
  --button-stroke: #f2f2f3;
}
