@import "../components/mamber_info_bar.css";

.member_info_name {
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mamber_info_name_frame {
  width: 33.4rem;
  height: 74.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}

.ninkname-form {
  width: 33.4rem;
  height: 64.1rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.ninkname-form__nickname-input-box {
  width: 31rem;
  height: 4rem;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
  padding: 0;
  border: 0rem solid white;
  border-bottom-color: var(--primary-gray);
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
}

.ninkname-form__nickname-input {
  width: 31rem;
  height: 2.4rem;
  font-family: BinggraeMelona;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  border: 0rem;
  padding: 0.8rem;
}

.ninkname-form__nickname-input::placeholder {
  color: var(--primary-gray);
}

.ninkname-form__nickname-input:focus {
  outline: none;
  border: 0rem solid white;
  border-bottom-color: var(--primary-light-blue);
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
}

.input-form__primary-btn-false {
  width: 31rem;
  height: 4rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0.8rem 1.6rem;
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.17), 0 4px 4px 0 rgba(0, 0, 0, 0.08);
  border: solid 0.5px var(--button-stroke);
  background-color: var(--button-inactive-light-blue);
}
